<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github/BMWDude01">Kai</a>.Kai Langrehr is a learning SQL Server user and works for his father automation software company. He would like to:learn how to write and deploy SQL Scripts, and improve his overallsoftware knowledge to better help the company while providing opportunities to advance. 
  </p>
  <br />
  <p>
     
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://online.bootcampspot".com> here</a>
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'kai.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1"
     <h2 class="text-center">Kai Langrehr</h2>
     <br />
     <p>
       Kai Langrehr is a web developer and a automation speacialist.
     </p>
    </div>

</div>  

<br class="clear" />
<br />
<br />
<br />
<br />